[mysqld]
server-id=2
log-bin=mysql-bin
gtid_mode=ON
enforce_gtid_consistency=ON
log_slave_updates=ON
binlog_format=ROW
read_only=ON
relay-log=relay-log
general_log=1
general_log_file=/var/lib/mysql/general.log